.coverPage_bg {
  background: gray;
  width: 100%;
  /* height: 80vh; */
}

.movie_poster {
  float: left;
  width: 22%;
  height: 413px;
  margin-left: 35px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 4px solid white;
  transition: 0.5s;
}

.movie_poster img {
  width: 100%;
  height: 403px;
  /* cursor: pointer; */
}
.movie_poster:hover {
  border: 4px solid green;
}

@media (max-width: 900px) {
  .movie_poster {
    width: 45%;
    height: 413px;
  }
}
@media (max-width: 717px) {
  .movie_poster {
    width: 70%;
    height: 413px;
  }
}

.movie_title {
  padding: 0;
  margin: 0;
}

.hover-container {
  display: none;
  width: 100%;
  height: 100%;
  background: black;
  /* z-index: -1; */
}

.hover-container:hover {
  display: block;
  /* z-index: 1; */
}

.imageReflection {
  content: "";
  box-shadow: 10px 70px 70px rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1);
  position: relative;
}
.imageReflection::after {
  content: "";
  width: inherit;
  height: 40%;
  bottom: -41%;
  position: absolute;
}
.imageReflection::before {
  content: "";
  width: 42%;
  bottom: -42%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
  position: absolute;
  z-index: 1;
}
