.header-input {
  width: 230px;
  background: #282828;
  padding: 4px 5px;
  appearance: none;
  color: #5a5a5a;
  -webkit-appearance: none;
  border: none;
  -moz-user-focus: none;
  outline: none;
  border-radius: 4px;
}

