.form-container {
  width: 100%;
  height: 70vh;
  background: #171717;
}

.movies-form {
  width: 50%;
  margin: auto;
}

.searchMmovieLabel {
  color: #5a5a5a;
  font-size: 30px;
}
.movies-form input[type="text"] {
  width: 80%;
  border-radius: 4px;
  background: #282828;
  padding: 7px 0;
  color: #a2a2a2;
  border: none;
}

.movies-form button {
  width: 15%;
  border-radius: 5px;
  background: green;
  color: white;
  padding: 7px 0;
  margin-left: 20px;
  border: none;
}

@media (max-width: 800px) {
  .movies-form button {
    display: block;
    width: 80%;
    margin-left: 0;
    margin-top: 20px;
  }
}

.select-container {
  margin-top: 50px;
}

.select-container {
  display: inline-block;
  width: 130px;
  margin-right: 20px;
  float: left;
}

@media (max-width: 617px) {
  .select-container {
    display: block;
    width: 236px;
    margin: 0;
    margin-top: 10px;
    /* display: none; */
  }
  .select-container label {
    display: none;
  }
  .select-container select {
    width: 100% !important;
  }
}
.select-container label {
  float: left;
  font-size: 0.9em;
  color: #5a5a5a;
  margin-bottom: 10px;
  font-size: 20px;
}
.select-container select {
  margin: 0;
  -webkit-border-radius: 3px;
  width: 130px;
  padding-left: 10px;
  /* -webkit-appearance: none; */
  height: 40px;
  font-size: 0.9em;
  overflow: hidden;
  border: 0;
  background: #282828;
  color: #5a5a5a;
}
